div {
    display: inline-block;
    width: 100%
}

span input {
    display: inline-flex; 
    margin-right: 1em;
    width: 35%;
} 

p {
    font-size: medium;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    color: black;
    width: 4em;
}

.background-grey {
    background-color: #fefefe;
}